/*CSS for Index.html*/
.profile {
	background-color: #FFB4B0 
	border:solid;
}
.navigation {
	background-color: #4DD7FA
	border:solid;
}
.showcase {
	background-color: #FEFAC0
	border:solid;
}
h2 {
	color: #785616;
}
